/* typography*/
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Variable.woff2") format("woff2");
  font-weight: 100 900; /* Range variable */
  font-style: normal;
  font-display: swap; /*OPTIMIZATION*/
}

@font-face {
  font-family: "Clash-Display";
  src: url("../assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 200 700; /* Range variable */
  font-style: normal;
  font-display: swap; /*OPTIMIZATION*/
}

/*Aspects default*/
:root {
  --primary-font: "Poppins", sans-serif;
  --second-font: "Clash-Display", sans-serif;
  --color-dark: #121212;
  --color-light: #ffffff;
  --color-primary: #00d1ff;
  --color-secondary: #2a2a2c;
}

/*CSS code*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  padding: 10px 10px;
  background-color:var(--color-secondary);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.name {
  color: var(--color-light);
  font-family: var(--primary-font);
  font-size: 1.8rem;
  font-weight: 300;
}

.logo {
  margin-right: auto;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--color-light);
  font-size: 1.4rem;
  font-family: var(--primary-font);
  font-weight: 300;
}

.nav-menu li a:hover {
  color: var(--color-primary);
  font-size: 1.6rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* default hidden */
.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  z-index: 10000;
}

.hamburger-line {
  display: block;
  width: 20px;
  height: 1px;
  background-color: var(--color-light);
  margin: 5px 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background: var(--color-dark);
  background: linear-gradient(170deg,rgb(27, 27, 27) 0%, rgba(0, 0, 0, 1) 100%);
}

main {
  flex: 1;
}

.Home-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

/* bento all staff here comes my projects */
.bento-container {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: minmax(auto, 200px);
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  grid-template-areas:
    "container1 container1 container1 container2 container6"
    "container1 container1 container1 container2 container6"
    "container5 container5 container4 container4 container3"
    "container7 container7 container4 container4 container8";
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.bento-container .container img,
.bento-container .container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bento-container .container {
  overflow: hidden;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bento-container .container:hover {
  fill: rgba(0, 0, 0, 0.3);
}

.content-section {
  display: flex;
  position: relative;
  min-height: 500px;
  align-items: center;
  overflow: hidden;
}

.intro-content {
  padding: 4rem;
  padding-right: 3rem;
  z-index: 3;
  position: relative;
  max-width: 65%;
  margin-right: auto;
  transform: translateY(-12%);
  -webkit-transform: translateY(-12%);
  -moz-transform: translateY(-12%);
  -ms-transform: translateY(-12%);
  -o-transform: translateY(-12%);
}

.intro-content h1 {
  font-family: var(--second-font);
  font-size: 4rem;
  color: var(--color-light);
  margin-bottom: 5px;
  line-height: 1.2;
  font-weight: 600;
}

.intro-content h1 span {
  color: var(--color-primary);
}

.subtitle {
  font-family: var(--primary-font);
  font-size: 1.8rem;
  color: var(--color-primary);
  margin-bottom: 20px;
  font-weight: 400;
}

.description {
  font-family: var(--primary-font);
  color: var(--color-light);
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.intro-content h1,
.intro-content .subtitle,
.intro-content .description {
  margin-right: 0;
  position: relative;
}

.image-section {
  z-index: 2;
  position: absolute;
  height: 85%;
  z-index: 1;
  right: -40px;
  bottom: 90px;
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
}

.image-section img {
  height: 100%;
  width: auto;
  max-width: none;
  display: block;
  max-width: 100%;
}

[style*="grid-area: container1"] {
  background-color: #030303;
  border: solid 1px #ffffff;
  /* background: linear-gradient(
    to top,
    #bbbbbb,  
    #f5f3f2);
} */
}

[style*="grid-area: container8"] {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

[style*="grid-area: container8"] img {
  transform: scale(0.6);
  /*70%*/
  transform-origin: center;
  /*icon size*/
}

[style*="grid-area: container3"] {
  background: radial-gradient(#1da1f2, #009ad5);
  display: flex;
  align-items: center;
  justify-content: center;
}

[style*="grid-area: container3"] img {
  transform: scale(0.6);
  /*70%*/
  transform-origin: center;
  /*icon size*/
}
/* Heres ends bento and home container */


/* Skills section */

.About-me-section {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columns */
  gap: 15px;
  margin: 15px;
}
.skills-image img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: white;
  font-size: 3rem;
  font-family: var(--second-font);
  font-weight: 600;
  text-align: center; /* Align text */
  margin-bottom: 15px;
}

.skill {
  color: white;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  grid-area: unset !important; /* force delete grid-area */
}

.skill svg {
  width: 30px;
  height: 30px;
  flex-shrink: 0; /* No reduction */
}

.skill:hover svg path,
.skill:hover svg g {
    fill: #00eaff;
}

.skill:hover {
    color: #00eaff;
    scale: 1.06;
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


  .skills-frontend  {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 15px;
  margin-bottom: 35px;
}
.tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
}

/* 
------------------------------------------------
------------------------------------------------ */
/* contact bar allover*/
.contact {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* always on top */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Hiding Animation*/
}

.contact-bar {
  width: fit-content;
  min-width: 250px;
  background-color: var(--color-light);
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  max-width: 90%;
}

.social-icons {
  display: flex;
  gap: clamp(12px, 3vw, 25px);
  align-items: center;
  flex-wrap: nowrap;
}

.social-icons a {
  color: var(--color-dark);
  transition: all 0.3s ease;
  width: clamp(15px, 8vw, 30px);
  height: clamp(15px, 8vw, 30px);
  text-decoration: none;
  position: relative;
}

.social-icons a i {
  font-size: clamp(15px, 5vw, 20px); /* Explicit icon size */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a:hover {
  color: var(--color-primary);
  transform: scale(1.2);
}

.contact.hidden {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}

footer {
  position: relative;
  z-index: 999;
  color: var(--color-light);
  background-color: var(--color-primary);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-size: 1.2rem;
  font-family: var(--second-font);
  font-weight: 200;
  gap: 10px;
}

footer .big-text {
  font-family: var(--second-font);
  font-size: 12rem;
}

/* Responsive design */
@media (max-width: 854px) {
  .image-section {
    display: none !important; /* image deleted */
  }

  .intro-content {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 4rem !important;
    text-align: center;
  }
}

@media (max-width: 780px) {
  /* Tablet */
  .bento-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "container1 container1 container3"
      "container1 container1 container4"
      "container5 container6 container4"
      "container5 container6 container7"
      "container2 container8 container7";

    grid-auto-rows: minmax(auto, 100px);
  }
}

@media (max-width: 660px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 15px 0;
    width: 250px;
    background-color: rgba(42, 44, 43, 0.85);
    height: calc(100vh - 70px);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    clip-path: circle(0px at 0% 0%);
    -webkit-clip-path: circle(0px at 0% 0%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    z-index: 9999;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform-origin: top left;
    overflow-y: auto  ;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
    -ms-border-radius: 0 0 15px 0;
    -o-border-radius: 0 0 15px 0;
}

  .nav-menu.active {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }

  .nav-menu li {
    margin: 15px 0;
    width: 100%;
  }

  .nav-menu li a {
    display: block;
    padding-left: 30px;
    font-size: 1.6rem;
    transition: all 0.3s ease;
  }

  .nav-menu li a:hover {
    color: var(--color-primary);
    font-size: 1.6rem;
    padding-left: 45px;
  }

  .hamburger.active .hamburger-line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    -webkit-transform: translateY(6px) rotate(45deg);
    -moz-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    -o-transform: translateY(6px) rotate(45deg);
}

  .hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger-line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -moz-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
}

  .name {
    font-size: 1.7rem;
  }

  main {
    position: relative;
    z-index: 1;
  }

}

@media (max-width: 576px) {
  /* mobile */
  .bento-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "container1 container1"
      "container1 container1"
      "container5 container6"
      "container5 container6"
      "container8 container3"
      "container8 container3"
      "container4 container7"
      "container4 container7"
      "container2 container2"
      "container2 container2";

    grid-auto-rows: minmax(auto, 100px);
  }
}

@media (max-width: 768px) {
  .skills-frontend {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .skills-container {
    display: flex;
    flex-direction: column;
  }

  .skills-image {
    opacity: 0;
    display: none !important;
}
}